.highlight-btn {
    width: 25px;
    height: 25px;
    border: 0.25px solid black;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    margin: 2px; /* added to ensure there's space between buttons and they don't overlap due to border and shadow */
  }
  #summarizeBtn {
      margin-left: 5px;
  }
  
  #summaryOutput {
      width: 100%;
      margin-top: 5px;
  }
  
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #B6F0E9;           /* Setting the button's color to B6F0E9 */
    color: black;
    border: 3px solid black;             /* Thick black outline */
    border-radius: 10px;                 /* Rounded edges */
    transition: background-color 0.3s, transform 0.15s, border-color 0.3s;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

  
  .button span {
      position: relative;
      z-index: 1;
  }
  
  .button input[type="checkbox"] {
      position: absolute;
      opacity: 0;
      z-index: 2;
      cursor: pointer;
  }
  
  /* Pressed in effect when checked */
  .button input[type="checkbox"]:checked + span {
      transform: translateY(4px);
  }
  
  .button input[type="checkbox"]:checked {
      background-color: #0056b3;
      border-color: #004080;
  }
  
  .mainBody{
    width: 250px;
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
  .logo {
      vertical-align: middle; /* align the logo with the middle of the text */
  }
  
  /* Adjust the navbar height, if needed */
  .navbar {
      height: 60px;
      width: 100%;
      font-family: 'Space Grotesk', sans-serif;
      font-weight: 700;  /* Adjust as necessary */
  }
  
  body .navbar {
    background-color: #0097FF !important;
}
/* Centering labels for sliders */
div > label {
    text-align: center;
    display: block;  /* Ensure the label takes up the full width of its parent div */
}

/* Pressed style for the button */
.button.pressed {
    background-color: #0097FF; /* Change to the pressed color */
    border-color: black; /* Change to the pressed border color */
    transform: translateY(1px); /* Simulate a pressed effect */
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3); /* Add a bit of shadow */

  }
  
  .btn-lightblue {
    background-color: lightblue;
    color: #000;
}
.btn-lightblue:hover {
    background-color: #0097FF;
    color: #000;
}

.line-height-button {
    height: 60px; 
    /* add other styles if needed */
}

.switch-input {
    transform: scale(2); /* Adjust the scale factor as needed */
    margin-top: 20px;
  }
  